.navbottom{
    /* display: flex; */
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
}

.navbottom-footer{
    display: flex;
    height: 4vw;
    background-color:powderblue;
    align-items: center;
    /* justify-content: space-evenly; */
    /* gap: 1rem; */
}

.navbottom-a{
    text-decoration: none;
    flex:3;
    color: inherit;
    transition: 0.5s ease;
    align-items: center;
    justify-content: center;
}

.navbottom-a:hover{
    background-color: pink;
}

